.topBoxes {
    -webkit-box-shadow: 4px 4px 8.01px 0.99px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 4px 4px 8.01px 0.99px rgba(0, 0, 0, 0.13);
    box-shadow: 4px 4px 8.01px 0.99px rgba(0, 0, 0, 0.13);
    background: -webkit-linear-gradient(90deg, #ebeef5 0%, #f5f8ff 100%);
    background: -moz-linear-gradient(90deg, #ebeef5 0%, #f5f8ff 100%);
    background: -o-linear-gradient(90deg, #ebeef5 0%, #f5f8ff 100%);
    background: -ms-linear-gradient(90deg, #ebeef5 0%, #f5f8ff 100%);
    background: linear-gradient(0deg, #ebeef5 0%, #f5f8ff 100%);
    height: 256px;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.btnUncheck {
    background-color: #FFFFFF;
    border-color: #3db39e;
    color: #3db39e;
    box-shadow: 3px 2px 2.82px 0.18px rgba(0,0,0,0.13);
}

.btnCheck {
    background-color: #3db39e;
    border-color: #3db39e;
    color: #FFFFFF;
    box-shadow: 3px 2px 2.82px 0.18px rgba(0,0,0,0.13);
}

#homeImage {
    background: url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 50px;
}

#homeImage h1, #homeImage label {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

#homeImage h1 {
    font-weight: 300;
    font-size: 51px;
    letter-spacing: 2px;
}

#homeImage select {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    height: 28px;
    color: #e4e4e4e;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
}

#homeImage button {
    margin-top: 40px;
    width: 112px;
    height: 39px;
    border: 2px solid #FFFFFF;
    background-color: rgba(42, 60, 86, 0.7);
    color: #FFFFFF;
    letter-spacing: 2px;
}

#homeImage label {
    font-size: 12px;
}

#homeImage input[name='text'] {
    width: 100%;
    height: 69px;
}

.navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.bigTitle {
    font-family: 'Open Sans', sans-serif;
    color: #2a3c56;
    font-size: 33px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 2px;
}

.smallTitle {
    font-family: 'Open Sans', sans-serif;
    color: #2a3c56;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 2px;
}

.categoryTitle, .smallText {
    font-family: 'Open Sans', sans-serif;
    color: #2a3c56;
    font-weight: 700;
}

.smallText {
    font-size: 11px;
} 

.candidateName {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
}