{% extends "layout.html.twig" %}

{% block title %}Politik - Ask!{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <form id="ask-form">
          <div class="form-group">
            <label class="formLabel">Question</label>
            <input type="text" class="form-control" placeholder="Question (Max 200 characters)" name="text" required>
            <label class="formLabel">Candidate:</label>
            <select name="target">
              {% for cand in candidates %}
                <option value="{{ loop.index }}">{{cand}}</option>
              {% endfor %}
            </select>
            <label class="formLabel">Category:</label>
            <select name="category">
              {% for cat in categories %}
                <option value="{{ loop.index }}">{{cat}}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-default" style="width: 100%;">Ask Question!</button>
        </form> 
      </div>
    </div>
  </div>
{% endblock %}